<mat-toolbar>
    <span>Add Business</span>
</mat-toolbar>
<div
    class="padding"
    fxLayout="row wrap"
    fxLayoutAlign="space-evenly end"
>

    <mat-form-field fxFlex="20">
        <mat-select
            placeholder="BusinessId"
            [(ngModel)]="Businessid"
            (ngModelChange)="onchangeBusinessId($event)"
        >
            <mat-option
                *ngFor="let item of BusinessIds"
                value="{{item.Id}}"
            >
                {{item.Id}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div fxFlex="20">
        <span>Name</span>
        <mat-form-field  class="padding-left">
            <input
                placeholder="Name"
                matInput
                [(ngModel)]="Name"
            >
          </mat-form-field>
    </div>

 
    <!-- <div fxFlex="20"> -->

    <mat-form-field fxFlex="10">
        <mat-select
            placeholder="Status"
            [(ngModel)]="value"
            (ngModelChange)="onchangeStatus($event)"
        
        >
            <mat-option
                *ngFor="let item of status"
                value="{{item.Name}}"
            >
                {{item.Name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- </div> -->
    <button
        mat-raised-button
        fxFlex="16"
        (click)="Save()"
        color="primary"
    >
       Save
    </button>

</div>

<div class="panel-body padding"   fxLayout="row wrap"
    fxLayoutAlign="center center">
<table class="table table-striped table-bordered table-list" *ngIf='addedBusinesses.length !=0'>
    <thead>
        <tr style="color:#6f6f6f;background-color:#f0f0f0">
           
            <!-- <th>Id </th> -->
            <th>Name</th>        
            <!-- <th>ActiveStatus</th> -->
            <th>Status</th>
           <th>Action</th>
        </tr>
    </thead>
  <tbody>
    <tr
        *ngFor="let items of addedBusinesses; let i = index"
        [attr.data-index]="i"
         >
      
        <!-- <td>{{items.Id}} </td> -->
        <td> {{items.Name}}</td>
        <!-- <td>{{items.ActiveStatus}}</td> -->
        <td>{{items.StatusDescription}}</td>
        <td>
            <button
        mat-raised-button
        fxFlex="16"
        (click)="openModalEdit(items,template)"
        color="primary"
    >
       Edit
    </button>
        </td>
       
  
    </tr>
  </tbody>
  </table>
</div>
<ng-template #template style="width:1308px;">
    
      
       <app-editbusiness [Inputdata]="(InputId)" (close)="onHide()"></app-editbusiness>

</ng-template>
