<mat-toolbar>
  <span>Amend Permission</span>
</mat-toolbar>
<div
  class="padding"
  fxLayout="row wrap"
  fxLayoutAlign="space-evenly end"
>

  <mat-form-field fxFlex="20">
      <mat-select
          placeholder="Customer"
          [(ngModel)]="value"
          (ngModelChange)="onchange($event)"
      >
          <mat-option
              *ngFor="let item of customer"
              value="{{item.CustomerId}}"
          >
              {{item.CustomerName}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <div fxFlex="20">
      <span>From Date</span>
      <input
          class="form-control"
          placeholder="DateOfJoin"
          bsDatepicker
          #dp="bsDatepicker"
          [(ngModel)]="FromDate"
          (ngModelChange)="fromDateChange()"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
      >
  </div>

  <div fxFlex="20">
      <span>To Date</span>
      <input
          class="form-control"
          placeholder="DateOfJoin"
          bsDatepicker
          #dp="bsDatepicker"
          [(ngModel)]="ToDate"
          (ngModelChange)="toDateChange()"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
      >
  </div>
  <!-- <div fxFlex="20"> -->
          
  <mat-form-field fxFlex="10">
          <mat-select
              placeholder="Status"
              [(ngModel)]="StatusName"
          >
              <mat-option
                  *ngFor="let item of status"
                  value="{{item.StatusName}}"
              >
                  {{item.StatusName}}
              </mat-option>
          </mat-select>
        </mat-form-field>
  <!-- </div> -->
  <button
      mat-raised-button
      fxFlex="16"
      (click)="search()"
      color="primary"
  >
      Search
  </button>
</div>
<div class="panel-body padding"   fxLayout="row wrap"
    fxLayoutAlign="center center" *ngIf="PermissionDetails.length !=0">

    <table class="table table-striped table-bordered table-list">
            <thead>
                <tr style="color:#6f6f6f;background-color:#f0f0f0">
                    <th>S.No</th>
                    <th>Transporter</th>
                    <th>Transporter Rate</th>
                    <th>Loading Contractor</th>
                    <th>Loading Rate</th>
                    <th>Unloading Contractor</th>
                    <th>Unloading Rate</th>
                    <th>Supplied Qty</th>
                    <th>Supplied Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <mat-form-field>
                            <mat-select
                                placeholder="Transporter"
                                [(ngModel)]="selectedTransporter"
                                (ngModelChange)="onchangeTransporter($event)"
                            >
                                <mat-option
                                    *ngFor="let item of transporter"
                                    [value]="item.VendorId"
                                >
                                    {{item.VendorName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input
                                placeholder="Transporter Rate"
                                matInput
                                [(ngModel)]="transporterRate"
                            >
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select
                                placeholder="Loading Contractor"
                                [(ngModel)]="selectedLoadingContractor"
                                (ngModelChange)="onchangeLoadingContractor($event)"
                            >
                                <mat-option
                                    *ngFor="let item of loadingContractor"
                                    [value]="item.VendorId"
                                >
                                    {{item.VendorName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input
                                placeholder="Loading Rate"
                                matInput
                                [(ngModel)]="loadingRate"
                            >
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select
                                placeholder="Unloading Contractor"
                                [(ngModel)]="selectedUnLoadingContractor"
                                (ngModelChange)="onchangeUnLoadingContractor($event)"
                            >
                                <mat-option
                                    *ngFor="let item of unloadingContractor"
                                    [value]="item.VendorId"
                                >
                                    {{item.VendorName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input
                                placeholder="Unloading Rate"
                                matInput
                                [(ngModel)]="unloadingRate"
                            >
                        </mat-form-field>
                    </td>
                    <td>
                            <mat-form-field>
                                <input
                                    placeholder="Supplied Qty"
                                    matInput
                                    [(ngModel)]="SuppliedQty"
                                >
                            </mat-form-field>
                        </td>
                        <td>
                                <mat-form-field>
                                    <input
                                        placeholder="Supplied Price"
                                        matInput
                                        [(ngModel)]="SuppliedPrice"
                                    >
                                </mat-form-field>
                            </td>
        
                    <td>
                        <button
                            class="btn btn"
                            style="cursor: pointer;background-color: #3e54af;color:#fff"
                            (click)="add()"
                        >
                        <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
               <!-- <tr
                    *ngFor="let items of addedNewProposalsToProposalId; let i = index"
                    [attr.data-index]="i"
                >
                    <td>{{i + 1}}</td>
                    <td>{{items.TransporterId}}</td>
                    <td>{{items.TranAmount}}</td>
                    <td>{{items.LoadContId}}</td>
                    <td>{{items.LoadContAmount}}</td>
                    <td>{{items.UnloadContId}}</td>
                    <td>{{items.UnloadContAmount}}</td>
                    <td>
                        <button
                            class="btn btn"
                            style="cursor: pointer;background-color: #D50000 !important;color:#fff"
                            (click)="delete(items)"
                        >
                            <i
                                class="fa fa-trash"
                                aria-hidden="true"
                            ></i>
                        </button>
                    </td>
        
                </tr>  -->
                <tr
                *ngFor="let items of newTransporterDetails; let i = index"
                [attr.data-index]="i"
            >
                <td>{{i + 1}}</td>
                <td>{{items.TransporterId}}</td>
                <td>{{items.TransporterAmount}}</td>
                <td>{{items.LoadingContId}}</td>
                <td>{{items.LoadingContAmount}}</td>
                <td>{{items.UnloadingContId}}</td>
                <td>{{items.UnloadingContAmount}}</td>
                <td>{{items.SuppliedQty}}</td>
                <td>{{items.SuppliedPrice}}</td>
                <td>
                    <button
                        class="btn btn"
                        style="cursor: pointer;background-color: #D50000 !important;color:#fff"
                        (click)="delete(items)"
                    >
                        <i
                            class="fa fa-trash"
                            aria-hidden="true"
                        ></i>
                    </button>
                </td>
    
            </tr> 
            </tbody>
        </table>
        <div align="right" class="padding-right" *ngIf="newTransporterDetails.length !=0">
                <button mat-raised-button (click)="saveNewRecords()"  color="primary">Save</button>
            </div>
</div>
<div
    fxLayout="row"
    fxLayoutAlign="start start"
    class="padding"
>

    <div
        fxFlex="20"
        class="card"
        *ngIf="nodes.length != 0"
    >
        <tree-root
            [nodes]="nodes"
            [options]="options"
            (activate)="onActivate($event)"
        ></tree-root>
    </div>
    <div
    fxFlex="80"
    class="container"
    *ngIf="PermissionDetails.length !=0"
>
<div class="card">
    <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
    >
        <div class="padding-left">
            <span style="font-weight:400">UBT Id :</span>
            <span>{{ubtDetails.UbtId}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Customer Name :</span>
            <span>{{ubtDetails.CustomerName}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Agency :</span>
            <span>{{ubtDetails.AgencyName}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Goods Type :</span>
            <span>{{ubtDetails.GoodsType}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Category Name :</span>
            <span>{{ubtDetails.CategoryName}}</span>
        </div>
    </div>
    <hr>
    <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
    >
        <div class="padding-left">
            <span style="font-weight:400">BasePrice :</span>
            <span>{{ubtDetails.BasePrice}}</span>
        </div>

        <div class="padding-left">
            <span style="font-weight:400">MaxMargin :</span>
            <span>{{ubtDetails.MaxMargin}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Quantity :</span>
            <span>{{ubtDetails.Quantity}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">ProposalId :</span>
            <span style="background-color: cadetblue">{{ubtDetails.ProposalId}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Status :</span>
            <span>{{ubtDetails.Status}}</span>
        </div>
    </div>
    </div>
   
    <div class="panel-body">
        <table
        class="table table-striped table-bordered table-list"
        fxFlex="20"
    >
    <thead style="color: #3e54af">
        <tr style="color: white;background-color:#3e54af">
                    <th scope="col">S.No</th>
                     <th>PermissionId</th>
                     <th>POType</th>
                    <!-- <th scope="col">TransporterId</th> -->
                    <th>TransporterName</th>
                    <!-- <th>TransporterAmount</th> -->
                    <!-- <th scope="col"> LoadingContId</th> -->
                    <th>LoadingContName</th>
                    <!-- <th>LoadingContAmount</th> -->
                    <!-- <th scope="col">UnloadingContId</th> -->
                    <th>UnloadingContName</th>
                    <!-- <th>UnloadingContAmount</th> -->
                    <th>SuppliedQty</th>
                    <th>SuppliedPrice</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
    
                <tr
                    *ngFor="let items of PermissionDetails; let i = index"
                    [attr.data-index]="i"
                >
                    <td>{{i + 1}}</td>
                    <td>{{items.PermissionId}}</td>
                    <td>{{items.POType}}</td>
                    <!-- <td>{{items.TransporterId}}</td> -->
                    <td>{{items.TransporterName}}</td>
                    <!-- <td>{{items.TransporterAmount}}</td> -->
                   
                    <!-- <td>{{items.LoadingContId}}</td> -->
                    <td>{{items.LoadingContName}}</td>
                    <!-- <td>{{items.LoadingContAmount}}</td> -->
                  
                    <!-- <td>{{items.UnloadingContId}}</td> -->
                    <td>{{items.UnloadingContName}}</td>
                    <!-- <td>{{items.UnloadingContAmount}}</td> -->
                    <td>{{items.SuppliedQty}}</td>
                    <td>{{items.SuppliedPrice}}</td>
                    <td>
                            <button
                             class="btn btn padding-left"
                             style="cursor: pointer;color:#fff"
                           (click)="openModalForEdit(items,template)"
                         >
                         <i class="fa fa-pencil" aria-hidden="true"></i>
                         </button>
                    </td>
                    <td>
                            <button
                            class="btn btn"
                            style="cursor: pointer;background-color: #D50000 !important;color:#fff;margin-left:8px"
                            (click)="deleteRecords(items,template2)"
                        >
                            <i
                                class="fa fa-trash"
                                aria-hidden="true"
                            ></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>

</div>
    </div>

    <ng-template #template  style="width:1308px;">
            <div class="modal-header" style="background-color:#fff;width: 900px;">
              <h4 class="modal-title pull-left">Modal</h4>

            </div>
            <div class="modal-body" style="background-color:#fff;width: 900px;">
             <app-editamendpermission [Input]="(InputDetails)" (close)="onHide()"></app-editamendpermission>
            </div>
          </ng-template>

          <ng-template #template2 style="width:20px !important">
                <div class="modal-body text-center" style="background-color:#fff !important">
                  <p>Are you sure you want to delete?</p>
                  <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
                  <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
                </div>
              </ng-template>