<mat-toolbar>
  <span>Advance Payment</span>
</mat-toolbar>
<div class="panel-body padding"   fxLayout="row wrap"
    fxLayoutAlign="center center">
    <table class="table table-striped table-bordered table-list">
        <thead>
            <tr style="color:#6f6f6f;background-color:#f0f0f0" >
                <th>S.No</th>
                <th>WoId</th>
                <th>Amount</th>
                <th>Remarks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <mat-form-field>
                        <mat-select
                            placeholder="WOId"
                            [(ngModel)]="SelectedWOId"
                            (ngModelChange)="onchangeWoid($event)"
                        >
                            <mat-option
                                *ngFor="let item of WOIds"
                                [value]="item.WOId"
                            >
                                {{item.WOId}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
              
   
              <td>
                <mat-form-field>
                  <input placeholder="Amount"
                      matInput
                      [(ngModel)]="Amount"
                  >
              </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input placeholder="Remarks"
                      matInput
                      [(ngModel)]="Remarks"
                  >
              </mat-form-field>
              </td>
             

                <td>
                    <button
                        class="btn btn"
                        style="cursor: pointer;background-color: #3e54af;color:#fff"
                        (click)="add()"
                    >
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
            <tr
            *ngFor='let items of addedAdvancePayments ;let i = index'
            [attr.data-index]="i" 
        >
            <td>{{i + 1}}</td>
            <td>{{items.Id}}</td>
            <td>{{items.Amount}}</td>
            <td>{{items.Remarks}}</td>
          
            <td>
                <button
                    class="btn btn"
                    style="cursor: pointer;background-color: #D50000 !important;color:#fff"
                    (click)="delete(items)"
                >
                    <i
                        class="fa fa-trash"
                        aria-hidden="true"
                    ></i>
                </button>
            </td>
            
        </tr>
       
        </tbody>
    </table>
   
</div>
<div align="right" class="padding-right">
  <button mat-raised-button (click)="save()" *ngIf='addedAdvancePayments.length !=0' color="primary">Save</button>
</div>