<mat-toolbar>
  <span>ViewPo</span>
</mat-toolbar>
<div
fxLayout="row wrap"
fxLayoutAlign="space-evenly center"
>

<mat-form-field fxFlex="20">
  <mat-select
      placeholder="Customer"
      [(ngModel)]="value"
      (ngModelChange)="onchange($event)"
  >
      <mat-option
          *ngFor="let item of customer"
          value="{{item.CustomerId}}"
      >
          {{item.CustomerName}}
      </mat-option>
  </mat-select>
</mat-form-field>
<input
  fxFlex="20"
  class="form-control"
  placeholder="DateOfJoin"
  bsDatepicker
  #dp="bsDatepicker"
  [(ngModel)]="FromDate"
  (ngModelChange)="fromDateChange()"
  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
>
<input
  fxFlex="20"
  class="form-control"
  placeholder="DateOfJoin"
  bsDatepicker
  #dp="bsDatepicker"
  [(ngModel)]="ToDate"
  (ngModelChange)="toDateChange()"
  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
>
<mat-form-field fxFlex="10">
    <mat-select
        placeholder="Status"
        [(ngModel)]="StatusName"
    >
        <mat-option
            *ngFor="let item of status"
            value="{{item.StatusName}}"
        >
            {{item.StatusName}}
        </mat-option>
    </mat-select>
  </mat-form-field>
<button
  mat-raised-button
  fxFlex="16"
  (click)="search()"
  color="primary"
>
  Search
</button>
</div>
<div
    fxLayout="row"
    fxLayoutAlign="start start"
    class="padding"
>

<div
fxFlex="20"
class="card"
*ngIf="nodes.length != 0"
>
<tree-root
    [nodes]="nodes"
    [options]="options"
    (activate)="onActivate($event)"
></tree-root>
</div>



<div
  fxFlex="80"
  class="container"
   *ngIf='viewPoDetails.length !=0'
>
<div class="card">
    <div
        fxLayout="row"
        fxLayoutAlign="space-between center" 
       
    >
     <div class="padding-left">
            <span style="font-weight:400">UBT Id : </span>
            <span>{{ubtdetailsByPoId.UbtId}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Customer Name : </span>
            <span>{{ubtdetailsByPoId.CustomerName}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Agency : </span>
            <span>{{ubtdetailsByPoId.AgencyName}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Goods Type : </span>
            <span>{{ubtdetailsByPoId.GoodsType}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Category Name : </span>
            <span>{{ubtdetailsByPoId.CategoryName}}</span>
        </div>
    </div>
    <hr>
    <div
        fxLayout="row"
        fxLayoutAlign="space-between center" 
       
    >
        <div class="padding-left">
            <span style="font-weight:400">BasePrice : </span>
            <span>{{ubtdetailsByPoId.BasePrice}}</span>
        </div>

        <div class="padding-left">
            <span style="font-weight:400">MaxMargin : </span>
            <span>{{ubtdetailsByPoId.MaxMargin}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Quantity : </span>
            <span>{{ubtdetailsByPoId.Quantity}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">ProposalId : </span>
            <span style="background-color: cadetblue">{{ubtdetailsByPoId.ProposalId}}</span>
        </div>
    </div>

</div>
<div class="panel-body"  >
  <table class="table table-striped table-bordered table-list" fxFlex="20">
      <thead style="color: #3e54af">
          <tr style="color: white;background-color:#3e54af">
              <th>S.No</th>
              <th>POId</th>
              <th>TransporterId </th>
              <th>TransporterName</th>
              <th>LoadingContId</th>
              <th>LoadingContName</th>
              <th>UnloadingContId</th>
             <th>UnloadingContName</th>
             <th>TransporterAmount</th>
             <th>LoadingContAmount</th>
             <th>UnloadingContAmount</th>
             <th>SuppliedQty</th>
             <th>SuppliedPrice</th>
          </tr>
      </thead>
      <tbody>
          
          <tr
          *ngFor="let items of viewPoDetails; let i = index"
          [attr.data-index]="i"
      >
          <td>{{i + 1}}</td>
          <td>{{items.POId}}</td>
          <td>{{items.TransporterId}}</td>
          <td>{{items.TransporterName}}</td>
          <td>{{items.LoadingContId}}</td>
          <td>{{items.LoadingContName}}</td>
          <td>{{items.UnloadingContId}}</td>
          <td>{{items.UnloadingContName}}</td>
          <td>{{items.TransporterAmount}}</td>
          <td>{{items.LoadingContAmount}}</td>
          <td>{{items.UnloadingContAmount}}</td>
          <td>{{items.SuppliedQty}}</td>
          <td>{{items.SuppliedPrice}}</td>
      </tr>
      </tbody>
  </table>
</div>
</div>
</div>