<mat-toolbar>
        <span>Create Unique Business Transaction</span>
      </mat-toolbar>
<div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    class="padding"
>
    <mat-form-field fxFlex="30" class="padding-left">
        <mat-select
            placeholder="Customer Name"
            [(ngModel)]="customerIdSelected"
            (ngModelChange)="onchange($event)"
        >
            <mat-option
                *ngFor="let item of customer"
                value="{{item.CustomerId}}"
            >
                {{item.CustomerName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="30" class="padding-left">
        <mat-select
            placeholder="Agency Name"
            [(ngModel)]="agencyIdSelected" 
            (ngModelChange)="onchangeAgency($event)"
        >
            <mat-option
                *ngFor="let item of agency"
                [value]="item.AgencyId"
            >
                {{item.AgencyName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<div class="panel-body padding"   fxLayout="row wrap"
    fxLayoutAlign="center center">
    <table class="table table-striped table-bordered table-list">
        <thead>
            <tr style="color:#6f6f6f;background-color:#f0f0f0" >
                <th>S.No</th>
                <th>GoodsType </th>
                <th>Category Name</th>
                <th>Quantity</th>
                <th>Base Price</th>
                <th>Max Marigin</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <mat-form-field>
                        <mat-select
                            placeholder="Goods Type"
                            [(ngModel)]="goodsTypeSelected"
                            (ngModelChange)="onchangeGoodsType($event)"
                        >
                            <mat-option
                                *ngFor="let item of goodsType"
                                [value]="item.GoodsTypeId"
                            >
                                {{item.GoodsTypeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select
                            placeholder="Category"
                            [(ngModel)]="categoryIdSelected"
                            (ngModelChange)="onchangeCategoryName($event)"
                        >
                            <mat-option
                                *ngFor="let item of CategoryNameList"
                                [value]="item.CategoryId"
                            >
                                {{item.CategoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input placeholder="Quantity"
                            matInput
                            [(ngModel)]="Quantity"
                        >
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input placeholder="BasePrice"
                            matInput
                            [(ngModel)]="BasePrice"
                        >
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input  placeholder="MaxMargin"
                            matInput
                            [(ngModel)]="MaxMargin"
                        >
                    </mat-form-field>
                </td>

                <td>
                    <button
                        class="btn btn"
                        style="cursor: pointer;background-color: #3e54af;color:#fff"
                        (click)="add()"
                    >
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
            <tr
            *ngFor='let items of addedUbtDetails | paginate: { itemsPerPage: 5, currentPage: p }; let i = index'
            [attr.data-index]="i" 
        >
            <td>{{i + 1}}</td>
            <td>{{items.GoodsType}}</td>
            <td>{{items.CategoryId}}</td>
            <td>{{items.Quantity}}</td>
            <td>{{items.BasePrice}}</td>
            <td>{{items.MaxMargin}}</td>
            <td>
                <button
                    class="btn btn"
                    style="cursor: pointer;background-color: #D50000 !important;color:#fff"
                    (click)="delete(items)"
                >
                    <i
                        class="fa fa-trash"
                        aria-hidden="true"
                    ></i>
                </button>
            </td>
            
        </tr>
       
        </tbody>
    </table>
    <!-- <div align="center">
        <pagination-controls  (pageChange)="p = $event"></pagination-controls>
        <button mat-raised-button (click)="save()" color="primary">Save</button>
      </div> -->
</div>
<div align="right" class="padding-right">
        <button mat-raised-button (click)="save()" *ngIf='addedUbtDetails.length !=0' color="primary">Save</button>
</div>
