<div
    fxLayout="row"
    fxLayoutAlign="center center"
>
    <mat-form-field
        fxFlex="25"
        class="padding-left"
    >
        <mat-select
            placeholder="Customer Name"
            [(ngModel)]="value"
            (ngModelChange)="onchange($event)"
        >
            <mat-option
                *ngFor="let item of customer"
                value="{{item.CustomerId}}"
            >
                {{item.CustomerName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field
        fxFlex="25"
        class="padding-left"
    >
        <mat-select
            placeholder="Agency Name"
            [(ngModel)]="value"
            (ngModelChange)="onchangeAgency($event)"
        >
            <mat-option
                *ngFor="let item of agency"
                [value]="item.AgencyId"
            >
                {{item.AgencyName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div
    fxFlex="row"
    fxLayoutAlign="end center"
>

    <button
        type="button"
        class="btn btn-sm btn-primary btn-create"
        (click)="add()"
    >
        Create New
    </button>
</div>
<div class="panel-body">
    <table class="table table-striped table-bordered table-list">
        <thead style="color: rgba(30, 233, 81, 0.911)">
            <tr style="color: white;background-color:turquoise">

                <th>GoodsType Name</th>
                <th>Quantity</th>
                <th>Base Price</th>
                <th>Max Margin</th>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>
                    <mat-form-field>
                        <mat-select
                            placeholder="Goods Type"
                            [(ngModel)]="value"
                            (ngModelChange)="onchangeGoodsType($event)"
                        >
                            <mat-option
                                *ngFor="let item of goodsType"
                                [value]="item.GoodsTypeName"
                            >
                                {{item.GoodsTypeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select
                            placeholder="Goods Type"
                            [(ngModel)]="value"
                            (ngModelChange)="onchangeCategoryName($event)"
                        >
                            <mat-option
                                *ngFor="let item of CategoryNameList"
                                [value]="item.CategoryId"
                            >
                                {{item.CategoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="Quantity"
                        >
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="BasePrice"
                        >
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="MaxMargin"
                        >
                    </mat-form-field>
                </td>

                <td>
                    <button
                        class="btn btn"
                        style="cursor: pointer;background-color: darkgoldenrod"
                        (click)="createUbt()"
                    >
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div
    class="container"
    *ngIf="addedUbtDetails.length !=0"
>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">GoodsType Name</th>
                <th scope="col">Category Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Base Price</th>
                <th scope="col">Max Margin</th>
                <th scope="col">Action</th>
            </tr>

        </thead>
        <tbody>
            <tr
                *ngFor="let items of addedUbtDetails; let i = index"
                [attr.data-index]="i"
            >
                <!-- <td>{{i + 1}}</td> -->
                <td>{{items.Goodstype}}</td>
                <td>{{items.CategoryName}}</td>
                <td>{{items.Quality}}</td>
                <td>{{items.BasePrice}}</td>
                <td>{{items.maxPrice}}</td>
                <td>
                    <button
                        class="btn btn"
                        style="cursor: pointer;background-color: darkgoldenrod"
                        (click)="delete(items)"
                    >
                        <i
                            class="fa fa-trash"
                            aria-hidden="true"
                        ></i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
