<mat-toolbar>
  <span>Seek Offder</span>
</mat-toolbar>
<div class="panel-body padding"   fxLayout="row wrap"
    fxLayoutAlign="center center">
    <table class="table table-striped table-bordered table-list">
        <thead>
            <tr style="color:#6f6f6f;background-color:#f0f0f0" >
                <th>S.No</th>
                <th>PoId</th>
                <th>Vendor Type</th>
                <th>Vendor Name</th>
                <th>Seek Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <mat-form-field>
                        <mat-select
                            placeholder="PoId"
                            [(ngModel)]="goodsTypeSelected"
                            (ngModelChange)="onchangeGoodsType($event)"
                        >
                            <mat-option
                                *ngFor="let item of goodsType"
                                [value]="item.GoodsTypeName"
                            >
                                {{item.GoodsTypeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select
                            placeholder="VendorType"
                            [(ngModel)]="categoryIdSelected"
                            (ngModelChange)="onchangeCategoryName($event)"
                        >
                            <mat-option
                                *ngFor="let item of CategoryNameList"
                                [value]="item.CategoryId"
                            >
                                {{item.CategoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                      <mat-select
                          placeholder="VendorName"
                          [(ngModel)]="goodsTypeSelected"
                          (ngModelChange)="onchangeGoodsType($event)"
                      >
                          <mat-option
                              *ngFor="let item of goodsType"
                              [value]="item.GoodsTypeName"
                          >
                              {{item.GoodsTypeName}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field>
                      <mat-select
                          placeholder="SeekType"
                          [(ngModel)]="categoryIdSelected"
                          (ngModelChange)="onchangeCategoryName($event)"
                      >
                          <mat-option
                              *ngFor="let item of CategoryNameList"
                              [value]="item.CategoryId"
                          >
                              {{item.CategoryName}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </td>
             

                <td>
                    <button
                        class="btn btn"
                        style="cursor: pointer;background-color: #3e54af;color:#fff"
                        (click)="add()"
                    >
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
            <!-- <tr
            *ngFor='let items of addedUbtDetails | paginate: { itemsPerPage: 5, currentPage: p }; let i = index'
            [attr.data-index]="i" 
        >
            <td>{{i + 1}}</td>
            <td>{{items.GoodsType}}</td>
            <td>{{items.CategoryId}}</td>
            <td>{{items.Quantity}}</td>
            <td>{{items.BasePrice}}</td>
            <td>{{items.MaxMargin}}</td>
            <td>
                <button
                    class="btn btn"
                    style="cursor: pointer;background-color: #D50000 !important;color:#fff"
                    (click)="delete(items)"
                >
                    <i
                        class="fa fa-trash"
                        aria-hidden="true"
                    ></i>
                </button>
            </td>
            
        </tr> -->
       
        </tbody>
    </table>
    <!-- <div align="center">
        <pagination-controls  (pageChange)="p = $event"></pagination-controls>
        <button mat-raised-button (click)="save()" color="primary">Save</button>
      </div> -->
</div>