<mat-toolbar>
        <span>View Unique Business Transaction</span>
      </mat-toolbar>
      <div
      class="padding"
      fxLayout="row wrap"
      fxLayoutAlign="space-evenly end"
  >
  
      <mat-form-field fxFlex="20">
          <mat-select
              placeholder="Customer"
              [(ngModel)]="value"
              (ngModelChange)="onchange($event)"
          >
              <mat-option
                  *ngFor="let item of customer"
                  value="{{item.CustomerId}}"
              >
                  {{item.CustomerName}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <div fxFlex="20">
          <span>From Date</span>
          <input
              class="form-control"
              placeholder="DateOfJoin"
              bsDatepicker
              #dp="bsDatepicker"
              [(ngModel)]="FromDate"
              (ngModelChange)="fromDateChange()"
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          >
      </div>
  
      <div fxFlex="20">
          <span>To Date</span>
          <input
              class="form-control"
              placeholder="DateOfJoin"
              bsDatepicker
              #dp="bsDatepicker"
              [(ngModel)]="ToDate"
              (ngModelChange)="toDateChange()"
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          >
      </div>
      <!-- <div fxFlex="20"> -->
              
      <mat-form-field fxFlex="10">
              <mat-select
                  placeholder="Status"
                  [(ngModel)]="StatusName"
              >
                  <mat-option
                      *ngFor="let item of status"
                      value="{{item.StatusName}}"
                  >
                      {{item.StatusName}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
      <!-- </div> -->
      <button
          mat-raised-button
          fxFlex="16"
          (click)="search()"
          color="primary"
      >
          Search
      </button>

  </div>
 
<!-- <div class="col-xs-12 col-12 col-sm-4 col-md-12 col-lg-4 form-group">
  
</div> -->
<div fxLayout="row" fxLayoutAlign="start start" >
    
       
<div fxFlex="20">
        <!-- <mat-list *ngFor="let item of ids;let i = index;" fxLayout="row wrap" fxLayoutAlign="space-around center">
                <mat-list-item fxFlex="100"  (click)="edit(item)" style="cursor:pointer;background-color:#ccc" >
                    <span>
                        {{i +1}}.  
                    </span>
                    <span> {{ item.UbtId }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list> -->
        <!-- <mat-chip-list *ngFor="let item of ids;let i = index;" fxLayout="row wrap" fxLayoutAlign="space-around center">
                <mat-chip fxFlex="100" color="primary" selected  (click)="edit(item)">{{i +1}}.  {{ item.UbtId }}</mat-chip>
                <mat-divider></mat-divider>
              </mat-chip-list> -->
              <tree-root
              [nodes]="nodes"
              [options]="options"
              (activate)="onActivate($event)"
          ></tree-root>

</div>
<div
    fxFlex="80"
    class="container"
    *ngIf="editDetails"
>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Goods Type</th>
                <th scope="col">Category Name</th>
                <th scope="col">Propsal Id</th>
                <th scope="col">Propsal Name</th>
                <th scope="col">Po Id</th>
                <th scope="col">Permisson Id</th>
                <th scope="col">Wo Id</th>
                <!-- <th scope="col">Port</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of udtData">
                <td>{{item.GoodsType}}</td>
                <td>{{item.CategoryName}}</td>
                <td>{{item.ProposalId}}</td>
                <td>{{item.ProposalName}}</td>
                <td>{{item.POId}}</td>
                <td>{{item.PermissionId}}</td>
                <td>{{item.WorkOrderId}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
