<mat-toolbar>
    <span>Seek Proposal</span>
</mat-toolbar>
<div
    class="padding"
    fxLayout="row wrap"
    fxLayoutAlign="space-evenly end"
>

    <mat-form-field fxFlex="20">
        <mat-select
            placeholder="Customer"
            [(ngModel)]="value"
            (ngModelChange)="onchange($event)"
        >
            <mat-option
                *ngFor="let item of customer"
                value="{{item.CustomerId}}"
            >
                {{item.CustomerName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div fxFlex="20">
        <span>From Date</span>
        <input
            class="form-control"
            placeholder="DateOfJoin"
            bsDatepicker
            #dp="bsDatepicker"
            [(ngModel)]="FromDate"
            (ngModelChange)="fromDateChange()"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        >
    </div>

    <div fxFlex="20">
        <span>To Date</span>
        <input
            class="form-control"
            placeholder="DateOfJoin"
            bsDatepicker
            #dp="bsDatepicker"
            [(ngModel)]="ToDate"
            (ngModelChange)="toDateChange()"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        >
    </div>
    <!-- <div fxFlex="20"> -->
            
    <mat-form-field fxFlex="10">
            <mat-select
                placeholder="Status"
                [(ngModel)]="StatusName"
            >
                <mat-option
                    *ngFor="let item of status"
                    value="{{item.StatusName}}"
                >
                    {{item.StatusName}}
                </mat-option>
            </mat-select>
          </mat-form-field>
    <!-- </div> -->
    <button
        mat-raised-button
        fxFlex="16"
        (click)="search()"
        color="primary"
    >
        Search
    </button>
</div>
<div
    fxLayout="row"
    fxLayoutAlign="start start"
    class="padding"
>

    <div
        fxFlex="20"
        class="card"
        *ngIf="nodes.length != 0"
    >
        <tree-root
            [nodes]="nodes"
            [options]="options"
            (activate)="onActivate($event)"
        ></tree-root>
    </div>
    <div
        fxFlex="80"
        class="container"
        *ngIf="ubtDetails"
    >
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Goods Type</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Propsal Id</th>
                    <th scope="col">Propsal Name</th>
                    <th scope="col">Po Id</th>
                    <th scope="col">Permisson Id</th>
                    <th scope="col">Wo Id</th>
                    <!-- <th scope="col">Port</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of udtData">
                    <td>{{item.GoodsType}}</td>
                    <td>{{item.CategoryName}}</td>
                    <td>{{item.ProposalId}}</td>
                    <td>{{item.ProposalName}}</td>
                    <td>{{item.POId}}</td>
                    <td>{{item.PermissionId}}</td>
                    <td>{{item.WorkOrderId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div
        class="padding-left"
        fxFlex="80"
        *ngIf="seekProposalsDetails && hideSeekproposal"
    >
        <div class="card">
            <div
                fxLayout="row"
                fxLayoutAlign="space-between center" 
               
            >
                <div class="padding-left">
                    <span style="font-weight:400">Customer Name : </span>
                    <span>{{seekProposalsDetails.CustomerName}}</span>
                </div>

                <div class="padding-left">
                    <span style="font-weight:400">UBT Id : </span>
                    <span>{{seekProposalsDetails.UbtId}}</span>
                </div>
                <div class="padding-left">
                    <span style="font-weight:400">Agency : </span>
                    <span>{{seekProposalsDetails.AgencyName}}</span>
                </div>
            </div>
            <hr>
            <div
                fxLayout="row"
                fxLayoutAlign="space-between center" 
               
            >
                <div class="padding-left">
                    <span style="font-weight:400">Goods Type : </span>
                    <span>{{seekProposalsDetails.GoodsType}}</span>
                </div>

                <div class="padding-left">
                    <span style="font-weight:400">Category Name : </span>
                    <span>{{seekProposalsDetails.CategoryName}}</span>
                </div>
                <div class="padding-left">
                    <span style="font-weight:400">Quantity : </span>
                    <span>{{seekProposalsDetails.Quantity}}</span>
                </div>
                <div class="padding-left">
                    <span style="font-weight:400">ProposalId : </span>
                    <span>{{checkingProposalId}}</span>
                </div>
            </div>

        </div>
        <table class="table table-striped table-bordered table-list" *ngIf='checkingProposalId==null'>
            <thead>
                <tr style="color:#6f6f6f;background-color:#f0f0f0">
                    <th>S.No</th>
                    <th>Transporter</th>
                    <th>Transporter Rate</th>
                    <th>Loading Contractor</th>
                    <th>Loading Rate</th>
                    <th>Unloading Contractor</th>
                    <th>Unloading Rate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <mat-form-field>
                            <mat-select
                                placeholder="Transporter"
                                [(ngModel)]="selectedTransporter"
                                (ngModelChange)="onchangeTransporter($event)"
                            >
                                <mat-option
                                    *ngFor="let item of transporter"
                                    [value]="item.VendorId"
                                >
                                    {{item.VendorName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input
                                placeholder="Transporter Rate"
                                matInput
                                [(ngModel)]="transporterRate"
                            >
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select
                                placeholder="Loading Contractor"
                                [(ngModel)]="selectedLoadingContractor"
                                (ngModelChange)="onchangeLoadingContractor($event)"
                            >
                                <mat-option
                                    *ngFor="let item of loadingContractor"
                                    [value]="item.VendorId"
                                >
                                    {{item.VendorName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input
                                placeholder="Loading Rate"
                                matInput
                                [(ngModel)]="loadingRate"
                            >
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select
                                placeholder="Unloading Contractor"
                                [(ngModel)]="selectedUnLoadingContractor"
                                (ngModelChange)="onchangeUnLoadingContractor($event)"
                            >
                                <mat-option
                                    *ngFor="let item of unloadingContractor"
                                    [value]="item.VendorId"
                                >
                                    {{item.VendorName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input
                                placeholder="Unloading Rate"
                                matInput
                                [(ngModel)]="unloadingRate"
                            >
                        </mat-form-field>
                    </td>

                    <td>
                        <button
                            class="btn btn"
                            style="cursor: pointer;background-color: #3e54af;color:#fff"
                            (click)="add()"
                        >
                        <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
                <tr
                    *ngFor="let items of addedSeekProposalDetails; let i = index"
                    [attr.data-index]="i"
                >
                    <td>{{i + 1}}</td>
                    <td>{{items.TransporterId}}</td>
                    <td>{{items.TranAmount}}</td>
                    <td>{{items.LoadContId}}</td>
                    <td>{{items.LoadContAmount}}</td>
                    <td>{{items.UnloadContId}}</td>
                    <td>{{items.UnloadContAmount}}</td>
                    <td>
                        <button
                            class="btn btn"
                            style="cursor: pointer;background-color: #D50000 !important;color:#fff"
                            (click)="delete(items)"
                        >
                            <i
                                class="fa fa-trash"
                                aria-hidden="true"
                            ></i>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
        <div align="right" class="padding-right">
            <button mat-raised-button (click)="saveProposal()" *ngIf='addedSeekProposalDetails.length !=0' color="primary">Save</button>
    </div>
    </div>
   

</div>
