<mat-toolbar>
  <span>Add Agency</span>
</mat-toolbar>
<!-- <button type="button" class="btn btn-default" (click)="add()" style="position: absolute;
top: 78px;
right: 20px;
color: #fff;">Add</button> -->
<button type="button"  class="btn btn-default" (click)="save()" style="position: absolute;
top: 78px;
right: 80px;
z-index:1;
color: #fff;">Save</button>
<div
  fxLayout="row wrap"
  fxLayoutAlign="start center"
  class="card padding"
  
>
<mat-form-field fxFlex="33.3" class="padding-left">
  <mat-select
      placeholder="CustomerId"
      [(ngModel)]="value"
      (ngModelChange)="onchangeCustomerId($event)"
      fxFlex="33.3" class="padding-left"
  >
      <mat-option
          *ngFor="let item of CustomerIds"
          [value]="item.CustomerId"
      >
          {{item.CustomerId}}
      </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Agency Name"
      matInput
      [(ngModel)]="agency.AgencyName"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Email"
      matInput
      [(ngModel)]="agency.Email"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Alternate Email"
      matInput
      [(ngModel)]="agency.AlternateEmail"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Phone"
      matInput
      [(ngModel)]="agency.Phone"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Mobile"
      matInput
      [(ngModel)]="agency.Mobile"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Alternate Mobile"
      matInput
      [(ngModel)]="agency.AlternateMobile"
  >
</mat-form-field>
<mat-form-field fxFlex="10">
  <mat-select
      placeholder="Status"
      [(ngModel)]="value"
      (ngModelChange)="onchangeStatus($event)"
  
  >
      <mat-option
          *ngFor="let item of Status"
          value="{{item.Id}}"
      >
          {{item.Id}}
      </mat-option>
  </mat-select>
</mat-form-field>
</div>
