<!-- testing -->
<div>
<div fxLayout="row" fxLayoutAlign="center center" class="login" style="background: url(./assets/home-banner.jpg) no-repeat center center fixed; background-size: cover;">
    <mat-card fxFlex.xs="70" fxFlex.sm="60" fxFlex.md="40" fxFlex.lg="35" style="position:fixed">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-form-field fxFlex="100">
                <mat-select placeholder="Business Name" [(ngModel)]="businessId">
                    <mat-option *ngFor="let item of business" [value]="item.BusinessId">
                        {{item.BusinessName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Email" [(ngModel)]="username">
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Password" [(ngModel)]="passwrod" type="password">
            </mat-form-field>
            <button fxFlex="100" mat-raised-button color="primary" (click)="login()">Login</button>
        </mat-card-content>


    </mat-card>

</div>
</div>