<mat-toolbar>
  <span>Bank Details</span>
</mat-toolbar>
<button type="button" class="btn btn-default" (click)="add()" style="position: fixed;
top: 78px;
right: 20px;
color: #fff;">Add</button>
<button type="button" *ngIf='addedbankDetails.length !=0' class="btn btn-default" (click)="save()" style="position: fixed;
top: 78px;
right: 80px;

color: #fff;">Save</button>

<div
  fxLayout="row wrap"
  fxLayoutAlign="start center"
  class="card padding"
  
>
<mat-form-field fxFlex="33.3" class="padding-left">
  <mat-select
      placeholder="CustomerName"
      [(ngModel)]="CompanyIdSelected"
      (ngModelChange)="onchangeCustomer($event)"
      fxFlex="33.3" class="padding-left"
  >
      <mat-option
          *ngFor="let item of CustomerIDs"
          [value]="item.CustomerId"
      >
          {{item.CustomerName}}
      </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Bank Name"
      matInput
      [(ngModel)]="BankName"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Branch Name"
      matInput
      [(ngModel)]="BranchName"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Location"
      matInput
      [(ngModel)]="Location"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Account Number"
      matInput
      [(ngModel)]="AccountNumber"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="IFSC Code"
      matInput
      [(ngModel)]="IFSCcode"
  >
</mat-form-field>
<mat-form-field fxFlex="33.3" class="padding-left">
  <input
      placeholder="Account Holder Name"
      matInput
      [(ngModel)]="AccountHolderName"
  >
</mat-form-field>
<mat-radio-group>
        <span style="font-weight:400">Default Account:</span>
  <mat-radio-button value="Yes" (change)="changeDeafaultAc($event)">Yes</mat-radio-button>
  <mat-radio-button value="No" (change)="changeDeafaultAc($event)">No</mat-radio-button>
</mat-radio-group>
<mat-form-field fxFlex="10">
    <mat-select
            placeholder="Status"
            [(ngModel)]="value"
            (ngModelChange)="onchangeStatus($event)"
        
        >
            <mat-option
                *ngFor="let item of Status"
                value="{{item.Name}}"
            >
                {{item.Name}}
            </mat-option>
        </mat-select>
</mat-form-field>
</div>
<div class="panel-body padding"   fxLayout="row wrap"
    fxLayoutAlign="center center">
<table class="table table-striped table-bordered table-list" *ngIf='addedbankDetails.length !=0'>
  <thead>
      <tr style="color:#6f6f6f;background-color:#f0f0f0">
          <th>S.No</th>
          <th>CustomerName </th>
          <th>BankName</th>
          <th>BranchName</th>
          <th>Location</th>
          <th>AccountNumber</th>
          <th>IFSCcode</th>
          <th>AccountHolderName</th>
          <th>DeafaultAc</th>
          <th>Status</th>
          <th>Action</th>
      </tr>
  </thead>
<tbody>
  <tr
      *ngFor="let items of addedbankDetails; let i = index"
      [attr.data-index]="i"
       >
      <td>{{i + 1}}</td>
      <td>{{items.CompanyId}}</td>
      <td>{{items.BankName}}</td>
      <td>{{items.BranchName}}</td>
      <td>{{items.Location}}</td>
      <td>{{items.AcNo}}</td>
      <td>{{items.IFSC}}</td>
      <td>{{items.AcHolderName}}</td>
      <td>{{items.DefaultAc}}</td>
      <td>{{items.Status}}</td>
      <td>
        <button
              class="btn btn"
              style="cursor: pointer;background-color: #D50000 !important;color:#fff;margin-left:8px"
              (click)="delete(items)"
          >
              <i
                  class="fa fa-trash"
                  aria-hidden="true"
              ></i>
          </button>
       
      </td>

  </tr>
</tbody>
</table>

</div>
<div class="panel-body padding"   fxLayout="row wrap"
    fxLayoutAlign="center center">
<table class="table table-striped table-bordered table-list" *ngIf='AllBankDetails.length !=0'>
    <thead>
        <tr style="color:#6f6f6f;background-color:#f0f0f0">
          
            <!-- <th>CompanyId </th> -->
            <th>BankName</th>
            <th>BranchName</th>
            <th>Location</th>
            <th>AccountNumber</th>
            <th>IFSCcode</th>
            <th>AccountHolderName</th>
            <th>DeafaultAc</th>
            <!-- <th>Status</th> -->
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
  <tbody>
    <tr
        *ngFor="let items of AllBankDetails; let i = index"
        [attr.data-index]="i"
         >
     
        <!-- <td>{{items.CompanyId}}</td> -->
        <td>{{items.BankName}}</td>
        <td>{{items.BranchName}}</td>
        <td>{{items.Location}}</td>
        <td>{{items.AcNo}}</td>
        <td>{{items.IFSC}}</td>
        <td>{{items.AcHolderName}}</td>
        <td>{{items.DefaultAc}}</td>
        <!-- <td>{{items.Status}}</td> -->
        <td>{{items.StatusDescription}}</td>
        <td>
            <button
            mat-raised-button
            fxFlex="16"
            (click)="openModalEdit(items,template)"
            color="primary"
        >
           Edit
        </button>
         
        </td>
  
    </tr>
  </tbody>
  </table>
</div>

<ng-template #template >


      
       <app-editbankdetails [Inputdata]="InputId" (close)="onHide()"></app-editbankdetails>

</ng-template>