<h2 mat-dialog-title>Edit Cancellation Details</h2>
<mat-dialog-content class="mat-typography">
  <div
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
</div>

<div class="padding-left">
  <span style="font-weight:400"> Id :</span>
  <span>{{cancellationReasonDetails.Id}}</span>
</div>
<div class="padding-left">
  <span style="font-weight:400"> CompanyId :</span>
  <span>{{cancellationReasonDetails.CompanyId}}</span>
</div>
<div class="example-container">
  
  <mat-form-field fxFlex="30" class="padding-left">
    <input matInput placeholder="Name"  [(ngModel)]="cancellationReasonDetails.Name" >
  </mat-form-field>
     
  <mat-form-field  class="padding-left">
    <mat-select
    placeholder="Status"
    [(ngModel)]="value"
    (ngModelChange)="onchangeStatus($event)"
    fxFlex="33.3" class="padding-left"
>
    <mat-option
        *ngFor="let item of Status"
        [value]="item.Id"
    >
        {{item.Id}}
    </mat-option>
</mat-select>
</mat-form-field>

  
   
  </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button style="color:#fff !important" (click)="updateRecords()">Update</button>
</mat-dialog-actions>
