
<mat-toolbar class="header"*ngIf="router.url != '/' && router.url != '/login'" style="background-color:#673ab7">
    <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                    <a class="navbar-brand name"  routerLink="/home">Home</a>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">UBT</a>
                    <div class="dropdown-content">
                        <a routerLink="/CreateUBT">Create UBT</a>
                        <a routerLink="/ViewUBT">View UBT</a>
                        <a routerLink="/AmendUBT">Amend UBT</a>
                        <a routerLink="/ConfirmBidding">Confirm Bidding</a>
                        <a routerLink="/CloseUBT">Close UBT</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">PROPOSAL</a>
                    <div class="dropdown-content">
                        <a routerLink="/SeekProposal">Seek Proposal</a>
                        <a routerLink="/ViewProposal">View Proposal</a>
                        <a routerLink="/AmendProposal">Amend Proposal</a>
                        <a routerLink="/ApproveProposal">Approve Proposal</a>
                        <a routerLink="/ConfirmProposal">Confirm Proposal</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">PO</a>
                    <div class="dropdown-content">
                        <a routerLink="/SeekPO">Seek PO</a>
                        <a routerLink="/ViewPO">View PO</a>
                        <a routerLink="/AmendPO">Amend PO</a>
                        <a routerLink="/ApprovePO">Approve PO</a>
                        <a routerLink="/ConfirmPO">Confirm PO</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">OFFER</a>
                    <div class="dropdown-content">
                        <a routerLink="/Seekoffer">Seek Offer</a>
                        <a routerLink="/Createoffer">Create Offer</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">PERMISSION</a>
                    <div class="dropdown-content">
                        <a routerLink="/SeekPermission">Seek Permission</a>
                        <a routerLink="/ViewPermission">View Permission</a>
                        <a routerLink="/AmendPermission">Amend Permission</a>
                        <a routerLink="/ConfirmPermission">Confirm Permission</a>
                        <a routerLink="/ApprovePermission">Approve Permission</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">WORKORDER</a>
                    <div class="dropdown-content">
                        <a routerLink="/Createworkorder">Create WorkOrder</a>
                        <a routerLink="/Viewworkorder">View WorkOrder</a>
                        <a routerLink="/Amendworkorder">Amend WorkOrder</a>
                        <a routerLink="/Approveworkorder">Approve WorkOrder</a>
                     
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropbtn">MASTER DATA</a>
                    <div class="dropdown-content">
                        <a routerLink="/bankdetails">Bank Details</a>
                        <a routerLink="/plantdetails">Plant Details</a>
                    </div>
                </div>
            </div>
        </div>
    
</mat-toolbar>
    <router-outlet></router-outlet>
    <div class="al">
        <alert></alert>
    </div>
<footer fxLayout="row" fxLayoutAlign="center center" *ngIf="router.url != '/' && router.url != '/login'">
        <mat-toolbar fxFlex="100" style="background-color:#5e42b0;text-align:center !important;color: #fff;height:26px;font-size:16px">@PANKAJANI</mat-toolbar>
</footer>
 