<h2 mat-dialog-title>Edit Company Details</h2>
<mat-dialog-content class="mat-typography">
  <div
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
</div>
<div class="padding-left">
  <span style="font-weight:400"> Id :</span>
  <span>{{companyDetails.CompanyId}}</span>
</div>
<div class="example-container">
  
  <mat-form-field fxFlex="30" class="padding-left">
    <input matInput placeholder="CompanyName"  [(ngModel)]="companyDetails.CompanyName" >
  </mat-form-field>
     
  <mat-form-field fxFlex="30" class="padding-left">
    <input matInput placeholder="Email" [(ngModel)]="companyDetails.Email">
   </mat-form-field>
   <mat-form-field fxFlex="30" class="padding-left">
     <input matInput placeholder="AlternateEmail" [(ngModel)]="companyDetails.AlternateEmail">
    </mat-form-field>
    <mat-form-field fxFlex="30" class="padding-left">
      <input matInput placeholder="Mobile" [(ngModel)]="companyDetails.Mobile">
     </mat-form-field>
     <mat-form-field fxFlex="30" class="padding-left">
      <input matInput placeholder="AlternateMobile" [(ngModel)]="companyDetails.AlternateMobile">
     </mat-form-field>
  
   
  </div>
  <div class="example-container">
   
    <mat-form-field fxFlex="30" class="padding-left">
      <input matInput placeholder="Address1"  [(ngModel)]="companyDetails.Address1" >
    </mat-form-field>
       
    <mat-form-field fxFlex="30" class="padding-left">
      <input matInput placeholder="Address2" [(ngModel)]="companyDetails.Address2">
     </mat-form-field>
     <mat-form-field fxFlex="30" class="padding-left">
       <input matInput placeholder="Address3" [(ngModel)]="companyDetails.Address3">
      </mat-form-field>
      <mat-form-field fxFlex="30" class="padding-left">
        <input matInput placeholder="CIN" [(ngModel)]="companyDetails.CIN">
       </mat-form-field>
       <mat-form-field fxFlex="30" class="padding-left">
        <input matInput placeholder="GSTIN" [(ngModel)]="companyDetails.GSTIN">
       </mat-form-field>
    
     
    </div>
    <div class="example-container">
   
 
      <mat-form-field fxFlex="30" class="padding-left">
        <input matInput placeholder="PAN" [(ngModel)]="companyDetails.PAN">
       </mat-form-field>
       <mat-form-field fxFlex="30" class="padding-left">
        <input matInput placeholder="TAN NO"  [(ngModel)]="companyDetails.TAN_NO" >
      </mat-form-field>
         
      <mat-form-field  class="padding-left">
        <mat-select
        placeholder="Status"
        [(ngModel)]="companyDetails.StatusDescription"
        (ngModelChange)="onchangeStatus($event)"
        fxFlex="33.3" class="padding-left"
    >
        <mat-option
            *ngFor="let item of Status"
            [value]="item.Id"
        >
            {{item.Id}}
        </mat-option>
</mat-select>
</mat-form-field>
      
       
      </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button style="color:#fff !important" (click)="updateRecords()">Update</button>
</mat-dialog-actions>
