<mat-toolbar>
  <span>Approve Proposal</span>
</mat-toolbar>
<div
    class="padding"
    fxLayout="row wrap"
    fxLayoutAlign="space-evenly end"
>

    <mat-form-field fxFlex="20">
        <mat-select
            placeholder="Customer"
            [(ngModel)]="value"
            (ngModelChange)="onchange($event)"
        >
            <mat-option
                *ngFor="let item of customer"
                value="{{item.CustomerId}}"
            >
                {{item.CustomerName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div fxFlex="20">
        <span>From Date</span>
        <input
            class="form-control"
            placeholder="DateOfJoin"
            bsDatepicker
            #dp="bsDatepicker"
            [(ngModel)]="FromDate"
            (ngModelChange)="fromDateChange()"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        >
    </div>

    <div fxFlex="20">
        <span>To Date</span>
        <input
            class="form-control"
            placeholder="DateOfJoin"
            bsDatepicker
            #dp="bsDatepicker"
            [(ngModel)]="ToDate"
            (ngModelChange)="toDateChange()"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        >
    </div>
    <!-- <div fxFlex="20"> -->
            
    <mat-form-field fxFlex="10">
            <mat-select
                placeholder="Status"
                [(ngModel)]="StatusName"
            >
                <mat-option
                    *ngFor="let item of status"
                    value="{{item.StatusName}}"
                >
                    {{item.StatusName}}
                </mat-option>
            </mat-select>
          </mat-form-field>
    <!-- </div> -->
    <button
        mat-raised-button
        fxFlex="16"
        (click)="search()"
        color="primary"
    >
        Search
    </button>
</div>
<div
    fxLayout="row"
    fxLayoutAlign="start start"
    class="padding"
>
<div
        fxFlex="20"
        class="card"
        *ngIf="nodes.length != 0"
    >
        <tree-root
            [nodes]="nodes"
            [options]="options"
            (activate)="onActivate($event)"
        ></tree-root>
    </div>
    <div  fxFlex="85"
    class="container" *ngIf='ProposalsDetailsByID.length !=0'>
    <div class="card">
        <div
            fxLayout="row"
            fxLayoutAlign="space-between center" 
           
        >
            <div class="padding-left">
                <span style="font-weight:400">UbtId : </span>
                <span>{{UbtId}}</span>
            </div>

            <div class="padding-left">
                <span style="font-weight:400">CustomerName : </span>
                <span>{{CustomerName}}</span>
            </div>
            <div class="padding-left">
                <span style="font-weight:400">GoodsName : </span>
                <span>{{GoodsType}}</span>
            </div>
            <div class="padding-left">
                <span style="font-weight:400">ProposalId : </span>
                <span>{{ProposalId}}</span>
            </div>
            <div class="padding-left">
                <span style="font-weight:400">Status : </span>
                <span>{{ProposalIdStatus}}</span>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-list">
        <thead>
            <tr style="color:#6f6f6f;background-color:#f0f0f0">
                <th>S.No</th>
                <th>TransporterName</th>
                <th>TransporterAmount</th>
                <th>LoadingContName</th>
                <th>LoadingContAmount</th>
                <th>UnloadingContName</th> 
                <th>UnloadingContAmount</th> 
               
            </tr>
        </thead>
        <tbody>
            <tr
            *ngFor="let items of ProposalsDetailsByID; let i = index"
            [attr.data-index]="i"
             >
            <td>{{i + 1}}</td>
            <td>{{items.TransporterName}}</td>
            <td>{{items.TransporterAmount}}</td>
            <td>{{items.LoadingContName}}</td>
            <td>{{items.LoadingContAmount}}</td>
            <td>{{items.UnloadingContName}}</td>
            <td>{{items.UnloadingContAmount}}</td>
          
        </tr>
        </tbody>
    </table>
    <div align="right" class="padding" *ngIf='ProposalIdStatus=="Open      "'

    >
        <button  mat-raised-button (click)="discard()"  color="primary">DISCARD</button>
        <button  mat-raised-button (click)="approveAndSend()"  color="primary">APPROVE & SEND</button>
    </div>

</div>
</div>