<mat-toolbar>
    <span>SeekPo</span>
</mat-toolbar>
<div
    fxLayout="row wrap"
    fxLayoutAlign="space-evenly center"
>

    <mat-form-field fxFlex="20">
        <mat-select
            placeholder="Customer"
            [(ngModel)]="value"
            (ngModelChange)="onchange($event)"
        >
            <mat-option
                *ngFor="let item of customer"
                value="{{item.CustomerId}}"
            >
                {{item.CustomerName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <input
        fxFlex="20"
        class="form-control"
        placeholder="DateOfJoin"
        bsDatepicker
        #dp="bsDatepicker"
        [(ngModel)]="FromDate"
        (ngModelChange)="fromDateChange()"
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
    >
    <input
        fxFlex="20"
        class="form-control"
        placeholder="DateOfJoin"
        bsDatepicker
        #dp="bsDatepicker"
        [(ngModel)]="ToDate"
        (ngModelChange)="toDateChange()"
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
    >
    <mat-form-field fxFlex="10">
        <mat-select
            placeholder="Status"
            [(ngModel)]="StatusName"
        >
            <mat-option
                *ngFor="let item of status"
                value="{{item.StatusName}}"
            >
                {{item.StatusName}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    <button
        mat-raised-button
        fxFlex="16"
        (click)="search()"
        color="primary"
    >
        Search
    </button>
</div>
<div
    fxLayout="row"
    fxLayoutAlign="start start"
    class="padding"
>
<div
fxFlex="20"
class="card"
*ngIf="nodes.length != 0"
>
<tree-root
    [nodes]="nodes"
    [options]="options"
    (activate)="onActivate($event)"
></tree-root>
</div>
<div
  fxFlex="80"
  class="container"
   *ngIf='seekPOdetails.length !=0'
>
<div class="card">
    <div
        fxLayout="row"
        fxLayoutAlign="space-between center" 
       
    >
     <div class="padding-left">
            <span style="font-weight:400">UBT Id : </span>
            <span>{{ubtData.UbtId}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Customer Name : </span>
            <span>{{ubtData.CustomerName}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Agency : </span>
            <span>{{ubtData.AgencyName}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Goods Type : </span>
            <span>{{ubtData.GoodsType}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Category Name : </span>
            <span>{{ubtData.CategoryName}}</span>
        </div>
    </div>
    <hr>
    <div
        fxLayout="row"
        fxLayoutAlign="space-between center" 
       
    >
        <div class="padding-left">
            <span style="font-weight:400">BasePrice : </span>
            <span>{{ubtData.BasePrice}}</span>
        </div>

        <div class="padding-left">
            <span style="font-weight:400">MaxMargin : </span>
            <span>{{ubtData.MaxMargin}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">Quantity : </span>
            <span>{{ubtData.Quantity}}</span>
        </div>
        <div class="padding-left">
            <span style="font-weight:400">ProposalId : </span>
            <span style="background-color: cadetblue">{{ubtData.ProposalId}}</span>
        </div>
    </div>

</div>
<div class="panel-body">
  <table class="table table-striped table-bordered table-list">
      <thead style="color: #3e54af">
          <tr style="color: white;background-color:#3e54af">
              <th>S.No</th>
              <th>TransporterId </th>
              <th>TransporterAmount</th>
              <th>LoadingContId</th>
              <th>LoadingContAmount</th>
              <th>UnloadingContId</th>
             <th>UnloadingContAmount</th>
             <th>SuppliedQty</th>
             <th>SuppliedPrice</th>
          </tr>
      </thead>
      <tbody>
          
          <tr
          *ngFor="let items of seekPOdetails; let i = index"
          [attr.data-index]="i"
      >
          <td>{{i + 1}}</td>
          <td>{{items.TransporterId}}</td>
          <td>{{items.TransporterAmount}}</td>
          <td>{{items.LoadingContId}}</td>
          <td>{{items.LoadingContAmount}}</td>
          <td>{{items.UnloadingContId}}</td>
          <td>{{items.UnloadingContAmount}}</td>
        <td> <mat-form-field>
            <input placeholder="SuppliedQty"
                matInput
                [(ngModel)]="items.SuppliedQty"
                (ngModelChange)="onchangeSuppliedQty($event)"
            >
        </mat-form-field></td>
        <td> <mat-form-field>
            <input placeholder="SuppliedPrice"
                matInput
                [(ngModel)]="items.SuppliedPrice"
                (ngModelChange)="onchangeSuppliedPrice($event)"
            >
        </mat-form-field></td>

      </tr>
      </tbody>
  </table>
  <div align="left" class="padding-right">
  <button mat-raised-button fxFlex="16" (click)="save()" color="primary">SAVE</button>

</div>
</div>


</div>
</div>
